version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    networks:
      - aiworkflow-network

networks:
  aiworkflow-network:
    driver: bridge