version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    env_file:
      - .env  # Docker 会自动读取 .env 并将其中的变量注入系统环境
    networks:
      - app-network

networks:
  app-network:
    driver: bridge